:root {
    --primary-color: #F8C301;
    --primary-hover: #E0B000;
    --text-dark: #333333;
    --text-light: #666666;
    --bg-color: #FDFDFD;
    --card-bg: #FFFFFF;
    --border-color: #EFEFEF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-dark);
    margin: 0 auto;
    overflow-x: hidden;
    min-width: 320px;
    min-height: 100vh;
}